/* google fonts import  - ROBOTO */
@import url("'https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

/* CSS RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px red solid; */
    
}
:root{
  --titulosColor: #292e47,
  --linksColor: #072ac8,
  --parrafosColor: #6b708d,
  --back-color: #292e47;

}

body {
    font-family: "Roboto", sans-serif;
    color: #1a1a1a;
    background-color: #f2f4fc;
    font-size: 16px;
    margin-left: 80px;
    max-width: 1200px;
    display: flex;
    flex-direction: column
    /* outline: 1px red solid; */
  }


  
  /* html, body {
    margin: 0;
    height: 100%;
  }  */
  

  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px 80px ;
    
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 50px;
    padding: 1em;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: grey;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
.navbar-logo img{
  width: 60px;
}

  .home{
    text-decoration: none;
    color: lightblue;
    font-size: 17px;
    font-weight: 500;
  }
   
  .proy-serv{
    text-decoration: none;
    color: grey;
    font-size: 17px;
    font-weight: 500;
  }

  .btn-contact{
    text-decoration: none;
    padding: 15px 30px;
    background-color: #072ac8;
    font-size: 17px;
    
    color: white;
  }



/* SECCION 2 : EMPOWER */
  .empower{
    display:  flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* margin: 100px 0 50px 50px; */
    padding: 100px 0 0 
  }
  .emp-text{
    
    margin-right: 0%;
    max-width: 530px;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .emp-text h1{
    color: #292e47;
    line-height: 130%;
    font-size: 50px;
    font-weight: bold;
    padding: 20px 10px;

  }
  .emp-text .text{
    color: #6b708d;
    font-size: 14px;
    line-height: 20px;
    padding: 20px 10px;
    
  }
  .empower-btn{
    margin-top: 30px;
  }
  .empower-btn-1{
  text-decoration: none;
  color: var(--parColor);
  font-size: 17px;
  font-weight: 500;
  margin-right: 10px;
  padding: 0px 20px 0px 10px;
  /* margin: 60px 0; */

}
.empower-btn-2{
  text-decoration: none;
  background-color: #072ac8;
  color: grey;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 20px 10px 10px;
  /* margin: 60px 0; */

}

  .emp-img{
    width: 100%;
    position: relative;
  }
  .emp-img-hero-image{
    width: 100%;
  
  }

  .card-1 {
    background-image: url("../IMG/project-assets/hero-section/card-1.png");
    width: 200px;
    height: 200px;
    background-size: cover;
    position: absolute;
    top: 0%;
    left: 0%;
    /* display: none; */
    /* z-index: 1; */
  }
  .card-2 {
    background-image: url("../IMG/project-assets/hero-section/card-2.png");
    width: 200px;
    height: 200px;
    background-size: cover;
    position: absolute;
    bottom: -10%;
    right: -10%;
    /* z-index: 1; */
  }


/* SECCION 3 : LOGOS CLIENTES */

.logos{
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  /* padding: 0 50px; */
}

.img-logo {
  width: 100px;
  margin: 20px 20px;
}

/* ++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++ */

/* SECCION 4 : Proyectos Recientes */

.recent-projects{
  display:  flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 100px 50px 0;
  align-items: stretch;
}
.heading{
  color: #292e47;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: bold;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* justify-content: space-evenly; */
  width: auto;
}

.item-{
  
  display: flex;
  width: auto;
  flex-direction: column;
  
  justify-content: flex-start;
}
.item-text{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
}
.item-text h1{
  font-size: 24px;
}
.item-text p, .item-text a {
  padding-top: 20px;
}
.imgP{
  width: 340px;
  height: 240px;
  flex-wrap: wrap;
}
/* ++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++ */

/* SECCION 4 : Testimonio Clientes */
.opinions{
  position: relative;
  max-width: 1320px;
  height: 630px;
  margin-top: 200px ;
  background-color: #292e47;
  background-image: url(../IMG/project-assets/testimonial-section/orbit.png);
  background-position: 0px 0px;
  background-size: contain;
  
  /* margin: 0 50px; */
}
.testimonios{
  /* width: 60%; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* padding-bottom: 50px; */
}
.testimonios h3{
  font-weight: bold;
  color: #ecf7ff;
  max-width: 400px;
  font-size: 40px;
  text-align: center;
  margin: 100px 0;
  /* line-height: 30px; */
}
.testimonios p{
  color: #ffc600;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  line-height: 160%;
  max-width: 560px;
}
.cliente{
  display: flex;
  align-items: center;


}
.cliente-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url(../IMG/project-assets/testimonial-section/profile.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 15px;
}
.cliente-info{
  color: #a2d6f9;
  font-size: 17px;
}
.cliente-position{
  color: #ecf7ff;
    font-size: 13px;
}

.emoji-top-left {
  position: absolute;
  background-image: url("../IMG/project-assets/testimonial-section/memoji-1.png");
  width: 150px;
  height: 150px;
  background-size: cover;
  position: absolute;
  top: 0%;
  left: 0%;
  margin-top: 5%;
  margin-left: 10%;

}
.emoji-top-right {
  position: absolute;
  background-image: url("../IMG/project-assets/testimonial-section/memoji-4.png");
  width: 150px;
  height: 150px;
  background-size: cover;
  position: absolute;
  top: 0%;
  right: 0%;
  margin-top: 5%;
  margin-right: 10%;
}
.emoji-bottom-left {
  position: absolute;
  background-image: url("../IMG/project-assets/testimonial-section/memoji-3.png");
  width: 150px;
  height: 150px;
  background-size: cover;
  position: absolute;
  bottom: 0%;
  left: 0%;
  margin-bottom: 5%;
  margin-left: 10%;
}
.emoji-bottom-right {
  position: absolute;
  background-image: url("../IMG/project-assets/testimonial-section/memoji-2.png");
  width: 150px;
  height: 150px;
  background-size: cover;
  position: absolute;
  bottom: 0%;
  right: 0%;
  margin-bottom: 5%;
  margin-right: 10%;
}

/* ++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++ */

/* SECCION 5 : Nuestros Servicios */
.services{
  
  margin: 100px 50px 0;
  /* display:  flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
    align-items: stretch; */
}

.services .heading{
  color: #292e47;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: bold;
}


.services-flex{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
}

.services-container{
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: flex-start;
  
  /* height: auto; */
  background-color: #fff;
  /* border: 1px solid black; */
  margin-bottom: 30px;
}

.services-icon img{
  width: 50px;
  height: 50px;
  margin: 60px;
  flex-wrap: wrap;
}

.services-text{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
  max-width: 350px;
}
.services-text h1{
  font-size: 24px;
}
.services-text .p{
  margin: 30px 0;

}
.services-text .text-link{
  margin-top: 30px;
}
/* ++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++ */

/* SECCION 6 : Questions */

.questions{
  max-width: 1320px;
  height: 500px;
  background-color: #ffc600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 50px ;
}
.questions p{
  font-size: 17px;
  color: var(--parrafosColor);
  margin-bottom: 40px;
}
._email{
  position: relative;
}
.email-icon{
  width: 30px;
    height: 30px;

    position: absolute;
    background-image: url(../IMG/project-assets/newsletter/icon/mail.svg);
    left: 1%;
    bottom: 25%;
    
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.email-input{
  width: 400px;
  height: 60px;
  padding-left: 40px;
  font-size: 17px
}


.subscribe{
  width: 200px;
  height: 60px;
  font-size: 17px;
  background-color: blue;
  color: white;
}

/* ++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++ */

/* SECCION 7 : Footer */

.footer{
  /* height: 200px; */
  /* background-color: #f2f4fc; */
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 0 10px;
  padding-bottom: 100px;
  /* margin-top: 80px; */
  margin: 80px 80px;
}

.content{
  display: flex;
  flex-direction: column;
  width: 30%;
  /* padding-left: 20px; */
  
}


.content-img{
  width: 80px;
  height: 50px;
  margin: 10px 0;
  
  background-image: url(../IMG/project-assets/logos/circle.svg);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}


.footer-links{
  display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    align-items: center;
    width: 50%;
    /* margin: 0; */
    padding: 20px;
    /* border: 1px solid black; */
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(back-color);
    /* grid-template-rows: ; */
}
.footer-link{
  width: 50px;
  height: 50px;
  /* background-color: #ecf7ff; */
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-size: 17px;

}

/* ++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++ */

/* FORMULARIO */


.formulario{
  width: 80%;
  margin: 30px auto;
  
}
.formulario form{
display: flex;
justify-content: center;
flex-direction: column;

}
.titulo h1{
  font-size: 50px;
  margin-bottom: 20px;
}
.name, .email, .phone, .message{
  color: #6b708d;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}
.name input, .email input, .phone input, .message textarea{
  color: #6b708d;
  font-size: 15px;
  font-weight: 400;
  /* width: 100%; */
  height: 70px;
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: rgba(107, 112, 141, 0.1);
  border: none;
}
.name input, .message textarea {
width: 100%;
}
.email-phone{
display: flex;
justify-content: space-between;
width: 100%;

}

.email input, .phone input{
width: 100%;
}
.email , .phone {
width: 48%;
}
.message textarea{
  min-height: 100px;
  /* width: 100%; */
  padding-top: 20px;
}
.submit{
  padding: 15px 30px;
  background-color: #072ac8;
  text-align-last:center ;
}

.btn-submit{
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  align-items: center;
  color: white;
  width: 100%;
}


/* ++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++ */

/* PROYECTOS */

.proyect {
 display: flex;
 flex-direction: column;
 max-width: 1100px;
 margin: 0 auto;
  }
  
  .title h1{
    font-size: 60px;
    margin-top: 40px;
    padding-bottom: 20px;
  }

  .paragraph{
    display: flex;
    justify-content: space-between; 
    align-items: flex-end
  }
  .paragraph .p1 {
    
    color: #6b708d;
    font-size: 24px;
    font-weight: 500;
  }
  .paragraph .p2 {
    
    color: #6b708d;
    font-size: 20px;
    font-weight: 500;
  }



.proyect-descrip{
  color: #292e47;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0px;
  text-align: justify;
}

.proyect-img {
  width: 100%;
  height: 444px;
  margin-top: 70px;
  margin-bottom: 70px;
}




/* SecCION RESPONSIVE MOVIL */
  @media (max-width: 991px) {
    .menu-button-container {
      display: flex;
      /* margin: 50px 80px 0; */
    }
    .btn-contact{
      display: none;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-left: 80px;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      /* border: 1px solid #333; */
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: flex-start;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: rgb(236, 229, 229);
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid rgb(197, 197, 197);
    }

    .home{
      text-decoration: none;
      color: lightblue;
      font-size: 17px;
      font-weight: 500;
    }

    .proy-serv{
      text-decoration: none;
      color: #6b708d;
      font-size: 17px;
      font-weight: 500;
    }
    .home:hover, .proy-serv:hover{
      color: blue;
  
    }
  /* Empower seccion */

    .empower{
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
    }



  .emp-text {
    max-width: 700px;
    display: flex;
    align-items: center;
  }
  
  .emp-text h1 {
    font-size: 40px;
    line-height: 130%;
    margin-bottom: 30px;
  }

  .empower .text{
    max-width: 600px;
    text-align: center;
    font-size: 17px;
    line-height: 150%;
  }
  .empower-btn{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center
  }

    .card-1 {
      background-image: url("../IMG/project-assets/hero-section/card-1.png");
      width: 200px;
      height: 200px;
      background-size: cover;
      position: absolute;
      bottom: 390px;
      right: 360px;
      display: none;
      /* z-index: 1; */
    }

    .card-2 {
      background-image: url("../IMG/project-assets/hero-section/card-2.png");
      width: 200px;
      height: 200px;
      background-size: cover;
      position: absolute;
      bottom: -20px;
      right: 0px;
      display: none;
      /* z-index: 1; */
    }
    
    .cards{
      width: 100%;
      max-width: 100%;
    }

  /* LOGOS */
    .img-logo{
      display: flex;
    }
    .img-logo-amazon{
      display: none;
    }
    /* recent Proyects */
    .heading{
      text-align: center;
    }
    .cards{
      display: flex;
      justify-content: center
    }
    .item-img{
      display: flex;
    }
    .item-text{
      display: flex;
      align-content: flex-start
    }

    /* OPNINIONES */

    .opinions{
      height: 500px;
      margin-top: 60px;
      background-position: 50% 50%;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .testimonios h3{
      max-width: 400px;
      line-height: 150%;
    }
    .testimonios p{
      margin-top: -70px;
      margin-bottom: 70px;
    }
    
    /* SERVICIOS */
    .services-container{
      flex-direction: row;
    }
    .services-text h1{
      color: #292e47;
      padding-bottom: 10px;
    }
    .services-text{
      align-items: flex-start;
      line-height: 160%;

    }



  }

  @media (max-width: 767px){

    .opinions{
      height: 450px;
    }
    .testimonios{
      display: flex;
      justify-content: space-around;
      /* height: 100%; */
    }
    .testimonios h3{
      margin-top: 30px;
    }
    .testimonios p{
      margin-top: -ยบ30px;
      
    }
    .emoji-top-left, .emoji-top-right,.emoji-bottom-left, .emoji-bottom-right{
      display: none;
    }

    /* SERVICIOS */
    .services-container{
      flex-direction: row;
    }
    .services-text h1{
      color: #292e47;
      padding-bottom: 10px;
    }
    .services-text{
      align-items: flex-start;
      line-height: 160%;

    }

  }


/* img {
    width: 350px;
} */
