/* google fonts import  - ROBOTO */
@import url("'https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

/* CSS RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px red solid; */
    
}
:root{
  --titulosColor: #292e47,
  --linksColor: #072ac8,
  --parrafosColor: #6b708d,
  --back-color: #292e47;

}

body {
    font-family: "Roboto", sans-serif;
    color: #1a1a1a;
    background-color: #f2f4fc;
    font-size: 16px;
    margin-left: 80px;
    max-width: 1200px;
    display: flex;
    flex-direction: column
    /* outline: 1px red solid; */
  }


  
  /* html, body {
    margin: 0;
    height: 100%;
  }  */
  

  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px 80px ;
    
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 50px;
    padding: 1em;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: grey;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
.navbar-logo img{
  width: 60px;
}

  .home{
    text-decoration: none;
    color: lightblue;
    font-size: 17px;
    font-weight: 500;
  }
  .home:hover{
    color: #072ac8;
    font-weight: bold;
  }
   
  .proy-serv{
    text-decoration: none;
    color: grey;
    font-size: 17px;
    font-weight: 500;
  }
  .proy-serv:hover{
    color: #072ac8;
    font-weight: bold;
  }
  .btn-contact{
    text-decoration: none;
    padding: 15px 30px;
    background-color: #072ac8;
    font-size: 17px;
    
    color: white;
  }




/* SECCION 4 : Proyectos Recientes */

/* .recent-projects{
  display:  flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 100px ;
  padding: 0 30px;
  align-items: stretch;
} */
/* .heading{
  color: #292e47;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: bold;
} */

/* .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  
} */

/* .item-{
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: flex-start;
} */
/* .item-text{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
} */

.imgP{
  width: 340px;
  height: 240px;
  flex-wrap: wrap;
}
/* ++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++ */


.proyectos-recientes{
  margin: 100px 50px 0;
}

.proyectos-recientes h1{
  margin-top: 30px;
  font-size: 40px;
}

.container-proyects{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-proyects{
    margin-top: 20px;
}

.card-title{
  color: #292e47;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 15px;
  font-size: 24px;
  font-weight: bold;
}
.card-text{
    font-size: 17px;
    margin-bottom: 25px;
    color: #292e47;
    margin-left: 15px;
}
.text-link {
    margin: 15px ;
}


/* SECCION 6 : Questions */

.questions{
  max-width: 1320px;
  height: 500px;
  background-color: #ffc600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 50px ;
}
.questions p{
  font-size: 17px;
  color: var(--parrafosColor);
  margin-bottom: 40px;
}
._email{
  position: relative;
}
.email-icon{
  width: 30px;
    height: 30px;

    position: absolute;
    background-image: url(../IMG/project-assets/newsletter/icon/mail.svg);
    left: 1%;
    bottom: 25%;
    
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.email-input{
  max-width: 400px;
  height: 60px;
  padding-left: 40px;
  font-size: 17px
}


.subscribe{
  width: 200px;
  height: 60px;
  font-size: 17px;
  background-color: blue;
  color: white;
  border: none
}

/* ++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++ */

/* SECCION 7 : Footer */

.footer{
  /* height: 200px; */
  /* background-color: #f2f4fc; */
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 0 10px;
  padding-bottom: 100px;
  /* margin-top: 80px; */
  margin: 80px 80px;
}

.content{
  display: flex;
  flex-direction: column;
  width: 30%;
  /* padding-left: 20px; */
  
}
.content-text{
  color: #6b708d;
  font-size: 17px;
  line-height: 150%;
}


.content-img{
  width: 80px;
  height: 50px;
  margin: 10px 0;
  
  background-image: url(../IMG/project-assets/logos/circle.svg);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}


.footer-links{
  display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    align-items: center;
    width: 50%;
    /* margin: 0; */
    padding: 20px;
    /* border: 1px solid black; */
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(back-color);
    /* grid-template-rows: ; */
}
.footer-link{
  width: 50px;
  height: 50px;
  /* background-color: #ecf7ff; */
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-size: 17px;

}

/* ++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++ */

/* FORMULARIO */


.formulario{
  width: 80%;
  margin: 30px auto;
  
}
.formulario form{
display: flex;
justify-content: center;
flex-direction: column;

}
.titulo h1{
  font-size: 50px;
  margin-bottom: 20px;
}
.name, .email, .phone, .message{
  color: #6b708d;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}
.name input, .email input, .phone input, .message textarea{
  color: #6b708d;
  font-size: 15px;
  font-weight: 400;
  /* width: 100%; */
  height: 70px;
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: rgba(107, 112, 141, 0.1);
  border: none;
}
.name input, .message textarea {
width: 100%;
}
.email-phone{
display: flex;
justify-content: space-between;
width: 100%;

}

.email input, .phone input{
width: 100%;
}
.email , .phone {
width: 48%;
}
.message textarea{
  min-height: 100px;
  /* width: 100%; */
  padding-top: 20px;
}
.submit{
  padding: 15px 30px;
  background-color: #072ac8;
  text-align-last:center ;
}

.btn-submit{
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  align-items: center;
  color: white;
  width: 100%;
}


/* ++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++ */

/* PROYECTOS */

.proyect {
 display: flex;
 flex-direction: column;
 max-width: 1100px;
 margin: 0 auto;
  }
  
  .title h1{
    font-size: 60px;
    margin-top: 40px;
    padding-bottom: 20px;
  }

  .paragraph{
    display: flex;
    justify-content: space-between; 
    align-items: flex-end
  }
  .paragraph .p1 {
    
    color: #6b708d;
    font-size: 24px;
    font-weight: 500;
  }
  .paragraph .p2 {
    
    color: #6b708d;
    font-size: 20px;
    font-weight: 500;
  }



.proyect-descrip{
  color: #292e47;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0px;
  text-align: justify;
}

.proyect-img {
  width: 100%;
  height: 444px;
  margin-top: 70px;
  margin-bottom: 70px;
}




/* SecCION RESPONSIVE MOVIL */
  @media (max-width: 991px) {
    .menu-button-container {
      display: flex;
      /* margin: 50px 80px 0; */
    }
    .btn-contact{
      display: none;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-left: 80px;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      /* border: 1px solid #333; */
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: flex-start;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: rgb(236, 229, 229);
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid rgb(197, 197, 197);
    }

    .home{
      text-decoration: none;
      color: lightblue;
      font-size: 17px;
      font-weight: 500;
    }

    .proy-serv{
      text-decoration: none;
      color: #6b708d;
      font-size: 17px;
      font-weight: 500;
    }
    .home:hover, .proy-serv:hover{
      color: blue;
  
    }
  /* Empower seccion */

    .empower{
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
    }



  .emp-text {
    max-width: 700px;
    display: flex;
    align-items: center;
  }
  
  .emp-text h1 {
    font-size: 40px;
    line-height: 130%;
    margin-bottom: 30px;
  }

  .empower .text{
    max-width: 600px;
    text-align: center;
    font-size: 17px;
    line-height: 150%;
  }
  .empower-btn{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center
  }

    .card-1 {
      background-image: url("../IMG/project-assets/hero-section/card-1.png");
      width: 200px;
      height: 200px;
      background-size: cover;
      position: absolute;
      bottom: 390px;
      right: 360px;
      display: none;
      /* z-index: 1; */
    }

    .card-2 {
      background-image: url("../IMG/project-assets/hero-section/card-2.png");
      width: 200px;
      height: 200px;
      background-size: cover;
      position: absolute;
      bottom: -20px;
      right: 0px;
      display: none;
      /* z-index: 1; */
    }
    
    .cards{
      width: 100%;
      max-width: 100%;
    }

  /* LOGOS */
    .img-logo{
      display: flex;
    }
    .img-logo-amazon{
      display: none;
    }
    
    .heading{
      text-align: center;
    }
    .cards{
      display: flex;
      justify-content: flex-start;
    }
    .item-img{
      display: flex;
    }
    .item-text{
      display: flex;
      align-content: flex-start
    }
    .imgP{
      width: 65vw;
      /* height: 240px; */
    }

    /* OPNINIONES */

    .opinions{
      height: 500px;
      margin-top: 60px;
      background-position: 50% 50%;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .testimonios h3{
      max-width: 400px;
      line-height: 150%;
    }
    .testimonios p{
      margin-top: -70px;
      margin-bottom: 70px;
    }
    
    /* SERVICIOS */
    .services-container{
      flex-direction: row;
    }
    .services-text h1{
      color: #292e47;
      padding-bottom: 10px;
    }
    .services-text{
      align-items: flex-start;
      line-height: 160%;

    }
  
    /* FOOOTER */
    .footer{
      margin-top: 60px;
    }
    .recent-projects{
      margin: 0;
      margin-top: 100px;
      
    }
    
 
  }

  @media (max-width: 767px){

    /* recent Proyects */
    .body{
      margin: 0;
      padding: 0;
    }
    .recent-projects{
      margin: 0;
      padding: 0;
    }

    
    .opinions{
      height: 450px;
    }
    .testimonios{
      display: flex;
      justify-content: space-around;
      /* height: 100%; */
    }
    .testimonios h3{
      margin-top: 30px;
    }
    .testimonios p{
      margin-top: -ยบ30px;
      
    }
    .emoji-top-left, .emoji-top-right,.emoji-bottom-left, .emoji-bottom-right{
      display: none;
    }

    /* SERVICIOS */
    .services-container{
      flex-direction: row;
    }
    .our-services h1{
      text-align: center;
    }
    .services-icon img{
      width: 50px;
      
      margin: 40px 10px;
    }
    .card-services{
      align-items: flex-start
    }
    .card-service-title{
      color: #292e47;
      padding-bottom: 10px;
    }
    .card-service-text{
      align-items: flex-start;
      line-height: 160%;

    }
    .container-proyects {
      display: flex;
      justify-content: space-between;
    }
    .card-proyects{
      margin-top: 25px;
    }

    .card-proyects-img{
      width: auto;
    }
    .imgP{
      width: 80vw;
      height: 240px;
    }

    /* EMAIL */
    .email-input {
      width: 100%;
      max-width: 100%;
    }
    .subscribe{
      width: 100%;
      max-width: 100%;
      margin-top: 20px;
    }

    /* FOOOTER */
    *.footer{
      margin: none;
      padding: none;
    }
    .content{
      display: flex;
      flex-direction: column;
      width: 80vw;
      justify-content: center;
      align-items: center;
      text-align: center;
      
     
    }

    .footer-links{
      width: 90vw;
      
      margin-top: 20px;
    }
   
    /* .content-text{
      text-align: center;
      width: 60vw;
      margin: auto;
    } */


  }

  /* .proyectos-recientes h1{
    margin: 30px;
    font-size: 40px;
  }

.container-proyects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-proyects{
  display: flex;
  flex-direction: column;
}
.card-title{
  font-size: 24px;
  color: #292e47;
  line-height: 115%;
}
.card-text{
  font-size: 17px;
  color: #292e47;
  line-height: 115%;
} */








