/* google fonts import  - ROBOTO */
@import url("'https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

/* CSS RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
  --titulosColor: #292e47,
  --linksColor: #072ac8,
  --parrafosColor: #6b708d

}

body {
    font-family: "Roboto", sans-serif;
    color: #1a1a1a;
    background-color: #f2f4fc;
    font-size: 16px;
    margin-left: 80px;
    width: 1200px;
  }

  

  @import url(https://fonts.googleapis.com/css?family=Raleway);
  h2 {
    vertical-align: center;
    text-align: center;
  }
  
  /* html, body {
    margin: 0;
    height: 100%;
  } */
  
  * {
    font-family: "Raleway";
    box-sizing: border-box;
  }

  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* margin: 50px 80px 0; */
    
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 50px;
    padding: 1em;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: grey;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
.navbar-logo img{
  width: 60px;
}

  .home{
    text-decoration: none;
    color: lightblue;
    font-size: 17px;
    font-weight: 500;
  }
   
  .proy-serv{
    text-decoration: none;
    color: grey;
    font-size: 17px;
    font-weight: 500;
  }

  .btn-contact{
    text-decoration: none;
    padding: 15px 30px;
    background-color: #072ac8;
    font-size: 17px;
    
    color: white;
  }



/* SECCION 2 : EMPOWER */
  .empower{
    display:  flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    width: 1200px;
  }
  .emp-text{
    
    margin-right: 0%;
    width: 45%;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .emp-text h1{
    color: var(--parrafosColor);
    font-size: 4rem;
    padding: 20px 10px;
  }
  .emp-text .text{
    color: var(--parColor);
    font-size: 1.7rem;
    padding: 20px 10px;
    color: var(--parColor);
  }
  .empower-btn{
    margin-top: 30px;
  }
  .empower-btn-1{
  text-decoration: none;
  color: var(--parColor);
  font-size: 17px;
  font-weight: 500;
  margin-right: 10px;
  padding: 0px 20px 0px 10px;
  /* margin: 60px 0; */

}
.empower-btn-2{
  text-decoration: none;
  background-color: #072ac8;
  color: grey;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 20px 10px 10px;
  /* margin: 60px 0; */

}

  .emp-img{
    width: 45%;
    position: relative;
  }
  .emp-img-hero-image{
    width: 100%;
  
  }

  .card-1 {
    background-image: url("../IMG/project-assets/hero-section/card-1.png");
    width: 200px;
    height: 200px;
    background-size: cover;
    position: absolute;
    top: 0%;
    left: 0%;
    /* display: none; */
    /* z-index: 1; */
  }
  .card-2 {
    background-image: url("../IMG/project-assets/hero-section/card-2.png");
    width: 200px;
    height: 200px;
    background-size: cover;
    position: absolute;
    bottom: 0%;
    right: -10%;
    /* z-index: 1; */
  }


/* SECCION 3 : LOGOS CLIENTES */

.logos{
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  
  justify-content: space-around;
}
.logo-clientes{
  width: 400px;
  height: 100px;
}
.img-logo {
  width: 100px;
}

/* SECCION 4 : Proyectos Recientes */

.recent-projects{
 margin-top: 50px; 
}
.heading{
  color: var(--parColor);
  margin-bottom: 40px;
  font-size: 40px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}

.item-{
  margin: 0 20px;
  display: flex;
  width: auto;
  flex-direction: column;
  
  justify-content: flex-start;
}
.item-text{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
}
.item-text h1{
  font-size: 24px;
}
.item-text p, .item-text a {
  padding-top: 20px;
}
.imgP{
  width: 340px;
  height: 240px;
  flex-wrap: wrap;
  
}

/* SECCION 4 : Testimonio Clientes */
.opinions{
  position: relative;
  width: 1200px;
  height: 630px;
  margin-top: 100px;
  background-color: #292e47;
  background-image: url(../IMG/project-assets/testimonial-section/orbit.png);
  background-position: 0px 0px;
  background-size: contain;
}
.emoji-top-left {
  position: absolute;
  background-image: url("../IMG/project-assets/testimonial-section/memoji-1.png");
  width: 150px;
  height: 150px;
  background-size: cover;
  position: absolute;
  top: 0%;
  left: 0%
}
.emoji-top-right {
  position: absolute;
  background-image: url("../IMG/project-assets/testimonial-section/memoji-3.png");
  width: 150px;
  height: 150px;
  background-size: cover;
  position: absolute;
  top: 0%;
  right: 0%
}
.emoji-bottom-left {
  position: absolute;
  background-image: url("../IMG/project-assets/testimonial-section/memoji-1.png");
  width: 150px;
  height: 150px;
  background-size: cover;
  position: absolute;
  bottom: 0%;
  left: 0%
}
.emoji-bottom-right {
  position: absolute;
  background-image: url("../IMG/project-assets/testimonial-section/memoji-1.png");
  width: 150px;
  height: 150px;
  background-size: cover;
  position: absolute;
  bottom: 0%;
  right: 0%
}
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
      /* margin: 50px 80px 0; */
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      /* border: 1px solid #333; */
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: flex-start;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: rgb(236, 229, 229);
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid rgb(197, 197, 197);
    }

    .home{
      text-decoration: none;
      color: lightblue;
      font-size: 17px;
    font-weight: 500;
    }
     
    .proy-serv{
      text-decoration: none;
      color: #6b708d;
      font-size: 17px;
    font-weight: 500;
    }
    .home:hover, .proy-serv:hover{
      color: blue;
  
    }
    .card-1 {
      background-image: url("../IMG/project-assets/hero-section/card-1.png");
      width: 200px;
      height: 200px;
      background-size: cover;
      position: absolute;
      bottom: 390px;
      right: 360px;
      display: none;
      /* z-index: 1; */
    }

    .card-2 {
      background-image: url("../IMG/project-assets/hero-section/card-2.png");
      width: 200px;
      height: 200px;
      background-size: cover;
      position: absolute;
      bottom: -20px;
      right: 0px;
      display: none;
      /* z-index: 1; */
    }
  }


/* .empower{
  display: flex;
  width: 100%;
}

.emp-text{
  width: 40%;
}
.emp-img{
  width: 40%;
} */



img {
    width: 350px;
}
